h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#org1, #org2 {
    text-align: flex;
    border: solid;
    border-color: green;
    font-size: 20px;
    margin-right: 480px;
    margin-left: 500px;
    border-width: 5px;
    
}
